[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = ["pip install --break-system-packages --no-cache-dir -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "python api_server_cloud.py"

